@font-face {
  font-family: "Trajan-Pro-Bold";
  src: url('Trajan-Pro-Bold.woff') format('woff'),
    url('css/Trajan-Pro-Bold.woff2') format('woff2'),
    url('css/Trajan-Pro-Bold.eot'),
    url('css/Trajan-Pro-Bold.eot?#iefix') format('embedded-opentype'),
    url('css/Trajan-Pro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  text-align: center;
  font-family: 'Trajan-Pro-Bold';
  scroll-behavior: smooth;
}

hr {
  background-image: url('images/Hr.png');
  height: 37px;
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 607px;
}

h1 {
  color: white;
  font-size: 55px;
  margin: 0 auto 0 auto;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  float: right;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.top {
  background-image: url('images/City_of_Tears_Fountain_Square.png');
  background-clip: border-box;
  -webkit-background-size: clamp(100%, 100%);
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 1000px;
  padding-top: 54px;
  padding-bottom: 54px;
  text-align: center;
}

.top-container {
  position: relative;
  padding-top: 54px;
  padding-bottom: 54px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.intro {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
}

.toplogo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.botlogo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  margin-top: 0;
  padding-top: 0;
}

.middle-container {
  text-align: center;
  background-image: url('images/hk_cornifer_06.png');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;
  max-width: 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-bottom: 35px;
}

.Dialogue_Top {
  width: 350px;
  height: 38;
  top: -21px;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.Dialogue_Bottom {
  bottom: -10px;
  width: 350px;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.text {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 60px;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 650px;
  padding: 35px 0;
  position: relative;
}

.text h2 {
  margin: 10px;
  margin-left: 30px;
  text-align: left;
}

.text p {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.middle-container2 {
  text-align: center;
  background-image: url('images/fogcanyon.jpg');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;
  max-width: 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-bottom: 35px;
}

.skills {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 60px;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 650px;
  padding: 25px 0;
  position: relative;
}

.skill-lv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 50px;
  margin-right: 50px;
}

.skill-row {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.sprite {
  height: 60px;
  width: auto;
  max-width: 120px
}

.skill {
  height: 60px;
  width: 54px;
}

.firebird {
  border-radius: 50%;
}

.sql {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  width: 100%;
}

.barra {
  padding: 50px 1vw 0;
  border-radius: 5px;
  margin-left: 0.5rem;
}

.html5 {
  background-color: #f06529;
}

.css {
  background-color: #2965f1;
}

.js {
  background-color: yellow;
}

.bootstrap4 {
  background-color: #563d7c;
}

.firebirdb {
  background-color: #ff9500;
}

.sqlb {
  background-color: gray;
}



.bottom-container {
  text-align: center;
  background-image: url('images/background.jpg');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;
  max-width: 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-bottom: 35px;
}

.contato {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 60px;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 650px;
  padding: 25px 0;
  position: relative;
  padding-left: 20px;
}

.contato-img {
  height: 40px;
  width: 36px;
}

.gmail {
  height: 30px;
  border-radius: 3px;
}

.contato li {
  align-items: center;
  display: flex;
  justify-content: left;
  line-height: 1.5;
  margin-left: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.contato p {
  display: block;
}

.contato a {
  color: #f2f2f2;
  text-decoration: none;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

.contato a:hover {
  color: black;
}
